/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body {
    height: 100%;
}
#main{
    padding-top: 60px;
}
body.inframe #main{
    padding-top: 10px;
}
#wrap{
    padding: 0 10px 10px 10px;
}

.cursor-pointer{ cursor: pointer; }
.cursor-help{ cursor: help; }

.zmsHidden{ display: none; }
.no-padding{padding-left: 0 !important; padding-right: 0 !important;}

/* AngularJs NgTable */
.ng-table-pager .ng-table-counts{
    display: none;
}
table.ng-table tr td:first-child{ width: 50px;  }
table.ng-table tr td:last-child{ min-width: 100px;  }
table.ng-table tr td input{width: 100%;}

/* bootstrap */
.dropdown-menu-up{  top: initial; bottom: 0; }
textarea.form-control{ min-height: 100px; resize:none }
textarea.resize{ resize: both; }
textarea.resize-h{ resize: horizontal; }
textarea.resize-v{ resize: vertical; }