/nbproject
/backend/_system_storage/*
/backend/assets/wcms
/backend/vendor
/composer.lock
/assets/js/vendor
/assets/js/packages/*
!/assets/js/packages/index.js
!/assets/js/packages/sample.js
!/assets/js/packages/README.md
